.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.expander {
  overflow: auto;
  height: 100px;
}
